@model IEnumerable<dataAccessPayments.Accounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number_account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.current_account_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bank_account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exemption_gmf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clients.customer_code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.number_account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.current_account_balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bank_account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exemption_gmf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clients.customer_code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_account }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_account }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_account })
        </td>
    </tr>
}

</table>
